.bg {
    background-color: #000;
    color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.burgers{
    box-sizing: border-box;
}

.header{
    height: 90px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content:space-between;
   
}

.Images{
    
    align-self:flex-start;
}

.body {
    top: 0;

}